:host {
    width: 100%;
}

.box {
    border: 1px dashed;
    border-radius: 15px;
    text-align: center;
    transition: border-color 1s, -webkit-box-shadow 0.5s, -moz-box-shadow 0.5s, box-shadow 0.5s;
}

#file-input {
    display: none;
}

.btn-select {
    
}